# Predicting movie rental durations

![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In this project, you will use regression models to predict the number of days a customer rents DVDs for.

As with most data science projects, you will need to pre-process the data provided, in this case, a csv file called rental_info.csv. Specifically, you need to:
- Read in the csv file rental_info.csv using pandas.
- Create a column named "rental_length_days" using the columns "return_date" and "rental_date", and add it to the pandas DataFrame. This column should contain information on how many days a DVD has been rented by a customer.
- Create two columns of dummy variables from "special_features", which takes the value of 1 when: (i) The value is "Deleted Scenes", storing as a column called "deleted_scenes". (ii) The value is "Behind the Scenes", storing as a column called "behind_the_scenes".
- Make a pandas DataFrame called X containing all the appropriate features you can use to run the regression models, avoiding columns that leak data about the target.
- Choose the "rental_length_days" as the target column and save it as a pandas Series called y.

Following the preprocessing you will need to:
- Split the data into X_train, y_train, X_test, and y_test train and test sets, avoiding any features that leak data about the target variable, and include 20% of the total data in the test set.
- Set random_state to 9 whenever you use a function/method involving randomness, for example, when doing a test-train split.

Then recommend a model yielding a mean squared error (MSE) less than 3 on the test set
- Save the model you would recommend as a variable named best_model, and save its MSE on the test set as best_mse.

In [12]:
# import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# For lasso import the following packages
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# For linear regression import the following packages
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
# For random forest regression import the following packages
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

## Examine the data

In [13]:
# Read the dataframe
df_rental = pd.read_csv("rental_info.csv")

# Examine the dataframe
df_rental.head()

                 rental_date  ... rental_rate_2
0  2005-05-25 02:54:33+00:00  ...        8.9401
1  2005-06-15 23:19:16+00:00  ...        8.9401
2  2005-07-10 04:27:45+00:00  ...        8.9401
3  2005-07-31 12:06:41+00:00  ...        8.9401
4  2005-08-19 12:30:04+00:00  ...        8.9401

[5 rows x 15 columns]

In [14]:
df_rental.describe()

             amount  release_year  ...      length_2  rental_rate_2
count  15861.000000  15861.000000  ...  15861.000000   15861.000000
mean       4.217161   2006.885379  ...  14832.841876      11.389287
std        2.360383      2.025027  ...   9393.431996      10.005293
min        0.990000   2004.000000  ...   2116.000000       0.980100
25%        2.990000   2005.000000  ...   6561.000000       0.980100
50%        3.990000   2007.000000  ...  12996.000000       8.940100
75%        4.990000   2009.000000  ...  21904.000000      24.900100
max       11.990000   2010.000000  ...  34225.000000      24.900100

[8 rows x 12 columns]

In [15]:
# Identify missing values
df_rental.isna().sum()

rental_date         0
return_date         0
amount              0
release_year        0
rental_rate         0
length              0
replacement_cost    0
special_features    0
NC-17               0
PG                  0
PG-13               0
R                   0
amount_2            0
length_2            0
rental_rate_2       0
dtype: int64

In [16]:
# There are no missing values
# Create a column named "rental_length_days" using the columns "return_date" and "rental_date", and add it to the pandas DataFrame. This column should contain information on how many days a DVD has been rented by a customer.
df_rental["rental_length"] = pd.to_datetime(df_rental["return_date"]) - pd.to_datetime(df_rental["rental_date"])
df_rental["rental_length_days"] = df_rental["rental_length"].dt.days
df_rental.head()

                 rental_date  ... rental_length_days
0  2005-05-25 02:54:33+00:00  ...                  3
1  2005-06-15 23:19:16+00:00  ...                  2
2  2005-07-10 04:27:45+00:00  ...                  7
3  2005-07-31 12:06:41+00:00  ...                  2
4  2005-08-19 12:30:04+00:00  ...                  4

[5 rows x 17 columns]

In [17]:
# Create two columns of dummy variables from "special_features", which takes the value of 1 when: The value is "Deleted Scenes", storing as a column called "deleted_scenes", and The value is "Behind the Scenes", storing as a column called "behind_the_scenes".
# First add dummy variable for deleted scenes
df_rental["deleted_scenes"] =  np.where(df_rental["special_features"].str.contains("Deleted Scenes"), 1, 0)
# Then add dummy variable for behind the scenes
df_rental["behind_the_scenes"] =  np.where(df_rental["special_features"].str.contains("Behind the Scenes"), 1, 0)
df_rental.head()

                 rental_date  ... behind_the_scenes
0  2005-05-25 02:54:33+00:00  ...                 1
1  2005-06-15 23:19:16+00:00  ...                 1
2  2005-07-10 04:27:45+00:00  ...                 1
3  2005-07-31 12:06:41+00:00  ...                 1
4  2005-08-19 12:30:04+00:00  ...                 1

[5 rows x 19 columns]

## Preprocess the data

In [18]:
# Preprocess the data
# Make a pandas DataFrame called X containing all the appropriate features you can use to run the regression models, dropping columns that leak data about the target.
# First drop the columns that leak data
cols_to_drop = ["special_features", "rental_length", "rental_length_days", "rental_date", "return_date"]

# Then create a train-test split with X containing all the appropriate features you can use to run the regression models and y containing "rental_length_days" as the target column.
X = df_rental.drop(cols_to_drop, axis=1)
y = df_rental["rental_length_days"]

# Split the data into X_train, y_train, X_test, and y_test train and test sets, avoiding any features that leak data about the target variable, and include 20% of the total data in the test set. NOTE: set random_state to 9 whenever you use a function/method involving randomness, for example, when doing a test-train split.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=9)

## Fit the models

### 1. Lasso model

In [19]:
# Create the Lasso model
lasso = Lasso(alpha=0.3, random_state=9) 

# Train the model and access the coefficients
lasso.fit(X_train, y_train)
lasso_coef = lasso.coef_

# Feature selection: choose columns with positive coefficients
X_lasso_train, X_lasso_test = X_train.iloc[:, lasso_coef > 0], X_test.iloc[:, lasso_coef > 0]

# Run ordinary least squares (OLS) model and calculate the mean squared error (MSE) of the model.
ols = LinearRegression()
ols = ols.fit(X_lasso_train, y_train)
y_test_pred = ols.predict(X_lasso_test)
mse_lin_reg_lasso = mean_squared_error(y_test, y_test_pred)
print(f"The MSE for Lasso is {round(mse_lin_reg_lasso,2)}")

The MSE for Lasso is 4.81

### 2. Random forest regressor model

In [20]:
# Define a grid of hyperparameters for the random forest 
param_dist = {'n_estimators': np.arange(1,101,1),
          'max_depth':np.arange(1,11,1)}

# Create a random forest regressor
rf = RandomForestRegressor()

# Instantiate random search to find the best hyperparameters
rand_search = RandomizedSearchCV(rf, param_distributions=param_dist, cv=5, random_state=9)

# Fit the random search object to the data
rand_search.fit(X_train, y_train)

# Create a variable for the best hyper param
hyper_params = rand_search.best_params_

# Run the random forest on the chosen hyperparameters
rf = RandomForestRegressor(n_estimators=hyper_params["n_estimators"], 
                           max_depth=hyper_params["max_depth"], 
                           random_state=9)
rf.fit(X_train,y_train)
rf_pred = rf.predict(X_test)
mse_random_forest = mean_squared_error(y_test, rf_pred)
print(f"The MSE for Random Forest is {round(mse_random_forest,2)}")

The MSE for Random Forest is 2.23

## Save the best model
The model with the lowest MSE is the random forest

In [21]:
# Save the random forest as the best_model and the MSE from random forest as best_mse
best_model = rf
best_mse = mse_random_forest